#about-logo {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#about-name {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.about-item {
    padding: 0 10px;
}

.about-item p {
    font-size: 17px;
}

#about-copyright {
    position: absolute;
    color: darkgray;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
}

#clear-cache {
    bottom: 70px;
    background: lightgray;
    color: dodgerblue;
}