.achieve-toolbar {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 15px;
}

#achieve-year {
    grid-row: 1;
    grid-column: 1;
}

#achieve-semester {
    grid-row: 1;
    grid-column: 2;
}

#achieve-content-base {
    height: auto;
    overflow: hidden;
}

#achieve-table-base {
    position: absolute;
    top: 120px;
    left: 24px;
    right: 24px;
    bottom: 8px;
    overflow-y: scroll;
}

.achieve-passed-column {
    grid-template-columns: 9fr 3fr 4fr 4fr 3fr;
}

.achieve-failed-column {
    grid-template-columns: 2fr 1fr;
}

.achieve-table-title {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}