.root {
    min-width: 100%;
    min-height: 100%;
}

html, body {
    overflow-y: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}