#home-soup-author {
    margin-top: 0;
    float: right;
}

.schedule-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.schedule-row {
    grid-template-rows: 110px 110px 25px 110px 110px 25px 110px 1px;
}

.table-divider, #table-divider-placeholder {
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

#table-divider-noon {
    grid-row: 3;
}

#table-divider-evening {
    grid-row: 6;
}

#table-divider-placeholder {
    grid-row: 8;
}

#schedule-content {
    height: 560px;
    overflow-y: scroll;
}

.schedule-item-base {
    width: 100%;
    height: 100%;
}

.schedule-item {
    height: 106px;
    padding: 1px;
    margin: 2px;
}

.table-item-title, .table-item-content {
    margin: 4px;
}

.table-item-title {
    display: -webkit-box;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.table-item-content {
    font-size: 12px;
}
