#home-soup-author {
    margin-top: 0;
    float: right;
}

.schedule-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.schedule-row {
    grid-template-rows: 110px 110px 25px 110px 110px 25px 110px;
}

.table-divider {
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

#table-divider-noon {
    grid-row: 3;
}

#table-divider-evening {
    grid-row: 6;
}

.schedule-content {
    height: 600px;
}

.schedule-item-base {
    width: 100%;
    height: 100%;
}

.schedule-item {
    height: 106px;
    padding: 1px;
    margin: 2px;
}

.table-item-title, .table-item-content {
    margin: 4px;
}

.table-item-title {
    font-size: 12px;
    font-weight: bold;
}

.table-item-content {
    font-size: 12px;
}
