#drawer-button {
    width: 40px;
    height: auto;
    padding: 15px 10px;
}

.header {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
}

#header-title {
    margin: 0;
    text-align: center;
    fill: black;
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
    font-size: 17px;
}

.body {
    position: relative;
    top: 40px;
    padding: 0 24px;
}

.index-page {
    margin-top: 20px;
}

.table-base {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.table-base p {
    margin: auto 0;
}

.table-header {
    width: 100%;
    height: 24px;
    display: grid;
    font-weight: bold;
}

.table-content-base {
    width: 100%;
    height: auto;
}

.table-content {
    margin-top: 3px;
    margin-bottom: 10px;
    display: grid;
    width: 100%;
    grid-row-gap: 10px;
}

.table-empty {
    color: grey;
}

.table-item-first {
    text-align: start;
}