/.idea

# Project exclude paths
/ts/core/CookieUnit.js
/ts/core/CookieUnit.js.map
/ts/core/CurlUnit.js
/ts/core/CurlUnit.js.map
/ts/core/Map.js
/ts/core/Map.js.map
/ts/core/RSAStaticUnit.js
/ts/core/RSAStaticUnit.js.map
/ts/core/SharedPreferences.js
/ts/core/SharedPreferences.js.map
/ts/core/HtmlCompatActivity.js
/ts/core/HtmlCompatActivity.js.map
/ts/data/ExamData.js
/ts/data/ExamData.js.map
/ts/data/FailedMarkData.js
/ts/data/FailedMarkData.js.map
/ts/data/PassedMarkData.js
/ts/data/PassedMarkData.js.map
/ts/data/TableData.js
/ts/data/TableData.js.map
/ts/helper/APIHelper.js
/ts/helper/APIHelper.js.map
/ts/helper/ExamHelper.js
/ts/helper/ExamHelper.js.map
/ts/helper/LoginHelper.js
/ts/helper/LoginHelper.js.map
/ts/helper/TableHelper.js
/ts/helper/TableHelper.js.map
/ts/helper/UserInfoHelper.js
/ts/helper/UserInfoHelper.js.map
/ts/helper/AchievementHelper.js
/ts/helper/AchievementHelper.js.map
/ts/Login.js
/ts/Login.js.map
/ts/Exam.js
/ts/Exam.js.map
/ts/Achievement.js
/ts/Achievement.js.map
/ts/Home.js
/ts/Home.js.map
/ts/base.js
/ts/base.js.map
/ts/index.js
/ts/index.js.map