/.idea

# Project exclude paths
/js/core/CookieUnit.js
/js/core/CookieUnit.js.map
/js/core/CurlUnit.js
/js/core/CurlUnit.js.map
/js/core/Map.js
/js/core/Map.js.map
/js/core/RSAStaticUnit.js
/js/core/RSAStaticUnit.js.map
/js/core/SharedPreferences.js
/js/core/SharedPreferences.js.map
/js/data/ExamData.js
/js/data/ExamData.js.map
/js/data/FailedMarkData.js
/js/data/FailedMarkData.js.map
/js/data/PassedMarkData.js
/js/data/PassedMarkData.js.map
/js/data/TableData.js
/js/data/TableData.js.map
/js/helper/APIHelper.js
/js/helper/APIHelper.js.map
/js/helper/ExamHelper.js
/js/helper/ExamHelper.js.map
/js/helper/LoginHelper.js
/js/helper/LoginHelper.js.map
/js/helper/TableHelper.js
/js/helper/TableHelper.js.map
/js/helper/UserInfoHelper.js
/js/helper/UserInfoHelper.js.map
/js/Login.js
/js/Login.js.map
/js/Exam.js
/js/Exam.js.map
/js/Achievement.js
/js/Achievement.js.map
/js/Home.js
/js/Home.js.map
/js/base.js
/js/base.js.map
/js/index.js
/js/index.js.map